@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ||RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLE */
.main-container {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("image/john-towner-JgOeRuGD_Y4-unsplash.jpg");
    background-size: cover;
}

.main-container.active {
    filter: blur(5px);
}

h1 {
    color: whitesmoke;
    font-size: 4rem;
    text-align: center;
}

.btn {
    padding: 1rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    background: transparent;
    backdrop-filter: blur(20px);
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: .5rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: background .5s;
}

.btn:hover {
    background: whitesmoke;
    color: black;
}

.form-email {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    background: url('https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    color: white;
    padding: 2rem;
    border-radius: .5rem;
    width: 500px;
    opacity: 0;
    transition: all .7s, opacity .7s;
}

.form-email.active {
    visibility: visible;
    opacity: 1;
    top: 50%
}


.form-email form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 3rem;
}

label,
input,
.btn-join {
    font-size: 1.2rem;
}

input {
    text-align: center;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: .3rem;
}

.btn-join {
    margin-top: .5rem;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: .3rem;
    cursor: pointer;
    background-color: rgb(1, 1, 202);
    color: whitesmoke;
}

.close-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: font-size .5s;
}

.close-icon:hover {
    font-size: 3rem;
}


/* ||MEDIA QUERIES */
@media only screen and (max-width: 550px) {
    .form-email {
        width: unset;
    }
}